---
import type { CollectionEntry } from "astro:content";
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const formattedDate = post.data.pubDate.toString().slice(0, 10);
---

<BaseLayout pageTitle={post.data.title}>
  <p>Published on: {formattedDate}</p>

  <p><em>{post.data.description}</em></p>

  <p>Written by {post.data.author}</p>

  {
    post.data.image && (
      <img src={post.data.image.url} width="300" alt={post.data.image.alt} />
    )
  }

  <Tags tags={post.data.tags} />

  <slot />
</BaseLayout>
